body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    transition: background-color 0.3s ease;
    color: #1d232c;
    /* Default text color */
}

html {
    scroll-behavior: smooth;
  }
  
* {
    box-sizing: border-box;
    
  }

body.dark-mode {
    background-color: #1d232c;
    color: white;
    /* Text color for dark mode */
}

header {
    background-color: #1d232c;
    color: #fff;
    padding: 1px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

nav {
    display: flex;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: all 0.3s ease;
}

nav a:hover {
    /*background-color: #666;*/
    text-decoration: underline;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    transition: all 0.3s ease;
}

h1,
h2,
h3 {
    color: inherit;
    /* Inherit text color */
}
.home-head{
    font-size: 3.5rem;
}
.button1{
    margin-top: 200px;
    color: #fff;
  padding: 0.70rem 2rem;
  text-decoration: none;
  border-radius: 0.5rem;
  background: #1d232c;
}
.home-social-icons{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-size: 24px;
    margin-inline: 120px;
    transition: all 0.3s ease;
    margin-top: 40px;
    justify-content: space-between;
    margin-left: 10px;
}
.home-social-icons a{
    color: #1d232c;
    text-decoration: none;
    font-size: 24px;
    margin-right: 10px;
    transition: all 0.3s ease;
    margin-top: 20px;
    
}
.about-content{
    margin-top: 15%;
    margin-bottom: 20%;
}
.section-head {
    text-decoration: underline;
}

.skills {
    margin-top: 20px;
}

.skill {
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    
}

.skill:hover{
    padding: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.skill-name {
    margin-bottom: 5px;
}

.progress {
    height: 20px;
    background-color: #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
    overflow: hidden;
}

.progress-bar {
    background-color: #1d232c;
    height: 100%;
    width: 0;
    transition: width 0.5s ease;
}

.progress-text {
    color: #1d232c;
    text-align: right;
    padding-right: 10px;
    font-size: 14px;
}

.cont{
    background-color: #f8f9fa;
}
.contact-form {
    margin-top: 20px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.contact-form input[type="submit"] {
    background-color: #1d232c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact-head{
    text-align: center;
}
.social-icons {
    margin-top: 20px;
    text-align: center;
}

.social-icons a {
    color: #1d232c;
    text-decoration: none;
    font-size: 24px;
    margin-right: 10px;
    transition: all 0.3s ease;
    
}

.about-img img{
    border-radius: 0.5rem;
    width: 1000px;
    height: 1200px;
}
.about-content {
    display: flex;
    align-items: center;
}

.about-text {
    margin-left: 20px;
}

.dark-mode-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #fff;
}

.dark-mode-toggle input {
    display: none;
}

.dark-mode-toggle label {
    font-size: 20px;
    margin-right: 5px;
}

.dark-mode-toggle label::before {
    content: "\f186";
    /* Moon icon */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.dark-mode-toggle input:checked+label::before {
    content: "\f185";
    /* Sun icon */
}

#home {
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.column {
    float: right;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }

.row:after {
    content: "";
    display: table;
    clear: both;
  }
@media only screen and (max-width: 600px) {
    .container {
        padding: 0 10px;
    }

    .about-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .about-text {
        margin-left: 0;
        margin-top: 20px;
    }
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
      }
}